<script src="../../static/assets/lib/datatables-editor/js/dataTables.editor.js"></script>{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/assets/lib/datatables/datatables.css">

  <!-- DataTables Editor-->
  <link rel="stylesheet" href="/static/assets/lib/datatables-editor/css/editor.dataTables.css">

<style type="text/css">
.align-right {text-align: right;font-size:13px;}
.table.dataTable  {font-size: 13px;}
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sysadminsidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>系统管理</span>
            <span>用户管理</span>
          </div>
          <h2 class="az-content-title">用户管理</h2>

          <div class="table-responsive">
            <table id="datatable" class="table table-hover mg-b-0">
              <thead>
                <tr>
                  {% for th in define['thlist'] %}
                  <th>{{ th }}</th>
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div><!-- table-responsive -->
          
        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

 <!-- jQuery -->
  <script src="/static/assets/lib/jquery/jquery-3.6.0.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/static/assets/lib/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- DataTables -->
  <script src="/static/assets/lib/datatables/pdfmake.js"></script>
  <script src="/static/assets/lib/datatables/vfs_fonts.js"></script>
  <script src="/static/assets/lib/datatables/datatables.js"></script>
-->
  <!-- DataTables Editor-->
  <script src="/static/assets/lib/datatables-editor/js/dataTables.editor.js"></script>
  <!-- page script -->
  <script>
    $(document).ready(function () {
      editor = new $.fn.dataTable.Editor({
        "ajaxUrl": "/sysadmin-authority/getdata",
        "domTable": "#datatable",
        "fields": [ {
                "label": "姓名:",
                "name": "name"
            }, {
                "label": "角色:",
                "name": "role"
            }, {
                "label": "是否活动:",
                "name": "active"
            }, {
                "label": "密码:",
                "name": "password"
            }
        ]
      });
      $("#datatable").DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/sysadmin-authority/getdata",
        "responsive": true,
        "autoWidth": true,
        "paging": true,
        "lengthChange": true,
        "fixedHeader": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'<'align-right'B>>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",        // Needs button container
        "select": "single",
        "columns":[
          {data:"name",title:"name",defaultContent:""},
          {data:"role",title:"role",defaultContent:""},
          {data:"active",title:"active",defaultContent:""},
        ],
        buttons: [
        { extend: 'create', editor: editor },
        { extend: 'edit',   editor: editor },
        { extend: 'remove', editor: editor }
        ],
        "language": {
            url:'/static/assets/lib/datatables/zh.json'
        }
      });
    });
  </script>
{% endblock javascripts %}
