{% extends "layouts/base.html" %}

{% block title %} Users {% endblock %}

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}

    <link href="/static/assets/lib/spectrum-colorpicker/spectrum.css" rel="stylesheet">
    <link href="/static/assets/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="/static/assets/lib/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/assets/lib/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="/static/assets/lib/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
    <link href="/static/assets/lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link href="/static/assets/lib/pickerjs/picker.min.css" rel="stylesheet">

{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/pagenate.css">
{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sysadminsidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>系统管理</span>
            <span>用户管理</span>
          </div>
          <h2 class="az-content-title">用户管理</h2>

          {% if act=='list' %}
          <div class="az-content-label mg-b-5">管理系统用户，你可以在这里<a href="#">创建新用户</a></div>
          <div class="table-responsive">
            <table class="table table-hover mg-b-0">
              <thead>
                <tr>
                  {% for th in define['thlist'] %}
                  <th>{{ th }}</th>
                  {% endfor %}
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                {% for tr in record['data']  %}
                <tr>
                  {% for td in define['thlist'] %}
                  <td>{{ tr[td] }}</td>
                  {% endfor %}
                  <td>
                    <div>
                      <a href="{{ url_for('sysadmin_blueprint.route_sysadmin_users', page=pagination.page,act='view',key=tr[define['keyfieldname']]) }}" title="查看"><i class="typcn typcn-document tx-18"></i></a>
                      <a href="{{ url_for('sysadmin_blueprint.route_sysadmin_users', page=pagination.page,act='edit',key=tr[define['keyfieldname']]) }}" title="修改"><i class="typcn typcn-edit tx-18"></i></a>
                      <a href="{{ url_for('sysadmin_blueprint.route_sysadmin_users', page=pagination.page,act='delete',key=tr[define['keyfieldname']]) }}" title="删除"><i class="typcn typcn-trash tx-18"></i></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                      {{ pagination.info }}
                  </td>
                  <td colspan="2">
                      {{ pagination.links }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div><!-- table-responsive -->
          {% elif act=='view' %}
          <div class="az-content-label mg-b-5">管理系统用户，你可以在这里查看用户资料</div>
          <div class="table-responsive">
            <table class="table mg-b-0">
              <tbody>
                <tr>
                  <td>
                    <div class="row row-sm">
                      <div class="col-lg">
                        {{ record }}
                        <input class="form-control" placeholder="Input box" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <input class="form-control" placeholder="Input box (readonly)" readonly="" type="text">
                      </div><!-- col -->
                      <div class="col-lg mg-t-10 mg-lg-t-0">
                        <input class="form-control" placeholder="Input box (disabled)" disabled="" type="text">
                      </div><!-- col -->
                    </div><!-- row -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <div class="az-content-label mg-b-5"><a href="{{ url_for('sysadmin_blueprint.route_sysadmin_users', page=page,act='list') }}" title="返回"><<返回</a></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div><!-- view-responsive -->
          {% elif act=='edit' %}
          {% elif act=='delete' %}
          {% endif %}

        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- page script -->
{% endblock javascripts %}
