{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sysadminsidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>系统管理</span>
            <span>用户管理</span>
          </div>
          <div class="az-content-label mg-b-5">管理系统用户，你可以在这里<a href="#">创建新用户</a></div>
          <p class="mg-b-20">{{ pagination.info }}</p>

          <div class="table-responsive">
            <table class="table table-hover mg-b-0">
              <thead>
                <tr>
                  {% for th in define['coldef'].keys() %}
                  {% if th not in ['__collection__','_index','_key','password'] %}
                  <th>{{ th }}</th>
                  {% endif %}
                  {% endfor %}
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for tr in record['data']  %}
                <tr>
                  {% for tdn in tr.keys() %}
                  {% if tdn not in ['__collection__','_index','_key','password'] %}
                  <td>{{ tr[tdn] }}</td>
                  {% endif %}
                  {% endfor %}
                  <td><div><a href=""><i class="typcn typcn-edit tx-18"></i></a> &nbsp;&nbsp;<a href=""><i class="typcn typcn-trash tx-18"></i></a></div></td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <div style="text-align: right;">
                      &nbsp;
                    </div>
                  </td>
                  <td colspan="2">
                    <div style="text-align: right;">
                      {{ pagination.links }}
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div><!-- table-responsive -->
          
        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- page script -->
<script>
    function page_click(item) {

      currentPage = {{ pageinfo['curpage'] }}
      allpage = {{ pageinfo['rpages'] }}
      gopage = 1
      if(item=='first'){
        gopage = 1
      }
      if(item=='last'){
        gopage = allpage
      }
      if(item=='pre'){
        gopage = currentPage-1
      }
      if(item=='next'){
        gopage = currentPage+1
      }
      if(gopage<1){
        gopage = 1
      }
      if(gopage>allpage){
        gopage = allpage
      }

    }
  </script>
{% endblock javascripts %}
