{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/assets/lib/datatables-bs4/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-buttons/css/buttons.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-select/css/select.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sysadminsidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>系统管理</span>
            <span>用户管理</span>
          </div>
          <h2 class="az-content-title">用户管理</h2>

          <div class="table-responsive">
            <table id="datatable" class="table table-hover mg-b-0">
              <thead>
                <tr>
                  {% for th in define['thlist'] %}
                  <th>{{ th }}</th>
                    {% endfor %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div><!-- table-responsive -->
          
        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
 <!-- jQuery -->
  <script src="/static/assets/lib/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/static/assets/lib/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- DataTables -->
  <script src="/static/assets/lib/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/assets/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/assets/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/assets/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- DataTables Editor-->

  <!-- page script -->
  <script>
    $(function () {
      $("#datatable").DataTable({
        "language": {
            "processing": "正在加载 ......",
            "lengthMenu": "每页显示 _MENU_ 条记录",
            "zeroRecords": "没有记录",
            "info": "第 _PAGE_ 页，共 _PAGES_ 页",
            "infoEmpty": "没有更多的记录",
            "infoFiltered": "(从 _MAX_ 条记录中过滤)",
            "paginate":{
                "previous": "《",
                "next": "》"
            }
        },
        "processing": true,
        "serverSide": true,
        "ajax": "/sysadmin-authority/getdata",
        "responsive": true,
        "autoWidth": true,
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": false,
        "info": true,
        "dom": '<lfBr<t>ip>',        // Needs button container
        "select": true,
        "columns":[
          {data:"name",title:"name",defaultContent:""},
          {data:"role",title:"role",defaultContent:""},
          {data:"active",title:"active",defaultContent:""},
        ],
        buttons: [
        { extend: 'create', editor: editor },
        { extend: 'edit',   editor: editor },
        { extend: 'remove', editor: editor }
        ]
      });
    });
  </script>
{% endblock javascripts %}
