{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sysadminsidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>系统管理</span>
            <span>用户管理</span>
          </div>
          <h2 class="az-content-title">用户管理</h2>

          <div class="az-content-label mg-b-5">
            <p class="mg-b-20">管理系统用户，你可以在这里<a href="#">创建新用户</a></p>
          </div>


          <div class="table-responsive">
            <table class="table table-hover mg-b-0">
              <thead>
                <tr>
                  {% for th in define['coldef'].keys() %}
                  {% if th not in ['__collection__','_index','_key','password'] %}
                  <th>{{ th }}</th>
                  {% endif %}
                  {% endfor %}
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for tr in record['data']  %}
                <tr>
                  {% for tdn in tr.keys() %}
                  {% if tdn not in ['__collection__','_index','_key','password'] %}
                  <td>{{ tr[tdn] }}</td>
                  {% endif %}
                  {% endfor %}
                  <td><div><a href=""><i class="typcn typcn-edit tx-18"></i></a> &nbsp;&nbsp;<a href=""><i class="typcn typcn-trash tx-18"></i></a></div></td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <div style="text-align: right;">
                      <a href=""><i class="typcn typcn-media-rewind tx-18"></i></a>
                      <a href=""><i class="typcn typcn-media-play-reverse tx-18"></i></a>
                      {{ pageinfo['curpage'] }}
                      <a href=""><i class="typcn typcn-media-play tx-18"></i></a>
                      <a href=""><i class="typcn typcn-media-fast-forward tx-18"></i></a>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div><!-- table-responsive -->
          
        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
