{% extends "layouts/base.html" %}

{% block title %} {{ define['pagedef']['pagedef']['block_title'] }} {% endblock %}

<!-- Page CSS Plugins goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/assets/lib/datatables-bs4/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-buttons/css/buttons.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-select/css/select.bootstrap4.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- DataTables Editor-->
  <link rel="stylesheet" href="/static/assets/lib/datatables-editor/css/editor.dataTables.css">
  <link rel="stylesheet" href="/static/assets/lib/datatables-editor/css/dataTables.dateTime.min.css">


<style type="text/css">
.align-right {text-align: right;font-size:13px;}
.table.dataTable {font-size: 13px;}
.dataTables_length {font-size: 13px;}
.dataTables_info {font-size: 13px;}
.paginate_button {font-size: 13px;}
.btn-icon {height:30px; width:30px;}
.btn-info {height:30px; width:30px;}
div.DTED_Lightbox_Wrapper {
    left: 5em;
    right: 5em;
    margin-left: 0;
    width: auto;
}
div.DTE_Body div.DTE_Body_Content div.DTE_Field {
    float: left;
    width: {{ 100/define['pagedef']['pagedef']['et_columns']|int|round|int|default(100) }}%;
    padding: 5px 20px;
    clear: none;
    box-sizing: border-box;
}

div.DTE_Body div.DTE_Form_Content:after {
    content: ' ';
    display: block;
    clear: both;
}
.btn.btn-secondary.btn-icon.myBtn {
<!--        width: 33px;-->
        color: #fff;
        background-color: #A8B1C2;
        border-color: #A8B1C2;
        pointer-events: none;
}
.label{
    width: 100%;
    height: auto;
    text-align: center;
}
.label>ul{
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.label>ul>li{
    list-style: none;
    font-size: 90%;
    padding-right: 8px;
    padding-left: 8px;
    width: auto;
    height: 30px;
    background-color: #ADB5C5;
    line-height: 30px;
    color: white;
}
.label>div{
    width: auto;
    height: 50px;
    position: absolute;
    color: black;
    line-height: 50px;
    background-color: #ADB5C5;
    display: none;
}
.label li.showed{
    background-color: #7987A1;
    color: white;
    line-height: 25px;
    height: 30px;
}
.label div.showed{
    display: block;
}
#customForm {
    display: flex;
    flex-flow: row wrap;
}
#customForm div.DTE_Field {
    padding: 5px;
}
#customForm input {
    width: 200px;
    height: 30px;
}
#example th.sorting_disabled {
    color: #7987a1;
    font-weight: 700;
    font-size: 11px;
    padding-bottom: 5px;
}
#example td {
    padding: 9px 15px;
    line-height: 1.462;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #cdd4e0;
}
label.myLabel {
    font-size: 13px;
    font-weight: 400px;
    color: #031b4e;
    font-family: "Roboto", sans-serif;
    padding-left: 18px;
}
label.myLabelText {
    font-size: 13px;
    font-weight: 700;
    color: #031b4e;
    font-family: "Roboto", sans-serif;
}
legend.myLegend {
    width: fit-content;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: #5B47FB;
    border-radius: 6px;
    text-align:center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
div.myDiv {
    border-bottom: 2px solid #ADB5C5;
    padding: 8px;
}
a {
    color: #596882;
}
ul li {
    float: left;
    height: 30px;
}
{{ define['pagedef']['pagedef']['formcss']|safe if 'formcss' in define['pagedef']['pagedef'] }}

</style>
{% endblock stylesheets %}

{% block content %}

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">

        {% include 'includes/sidebar.html' %}

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="az-content-breadcrumb">
            <span>{{ define['pagedef']['pagedef']['block_navtitle'] }}</span>
            <span>{{ define['pagedef']['pagedef']['block_title'] }}</span>
          </div>
          <h2 class="az-content-title">{{ define['pagedef']['pagedef']['block_title'] }}</h2>

          <div class="az-dashboard-nav">
            <nav class="nav">
              <a class="nav-link" data-toggle="returntab" href="sysdev-{{ define['pagedef']['name'] }}.html?start={{ start }}&length={{ length }}"> << 返回</a>
              <a class="nav-link active" data-toggle="tab" href="#detail">详细数据</a>
              {%- for th in data['relation'] -%}
              <a class="nav-link" data-toggle="tab" href="#{{ data['relation'][th]['name'] }}">{{ data['relation'][th]['title'] }}</a>
              {% endfor %}
              <a class="nav-link" data-toggle="tab" href="#graph">关系图</a>
              <a class="nav-link" data-toggle="tab" href="#">更多</a>
            </nav>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="detail">
              <div class="table-responsive">
                <table class="table mg-b-0 responsive dataTable no-footer dtr-inline">
                  <thead>
                    <tr>
                      <th>字段</th>
                      <th>值</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                          {%- for info in data['basicinfo'] -%}
                          <p>{{ data['basicinfo'][info]['label'] }}</p>
                          {% endfor %}
                      </th>
                      <td>
                          {%- for info in data['basicinfo'] -%}
                          <p>{{ data['basicinfo'][info]['value'] }}</p>
                          {% endfor %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
	        </div>
            {%- for tb in data['relation'] -%}
            <div class="tab-pane fade" id="{{ data['relation'][tb]['name'] }}">
              <div class="table-responsive">
                <table class="table mg-b-0 responsive dataTable no-footer dtr-inline">
                  <thead>
                    <tr>
                      <th>字段</th>
                      <th>值</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%- for tr in data['relation'][tb]['value'] -%}
                    <tr>
                      <th scope="row">
                          {%- for td in tr -%}
                          <p>{{ tr[td]['label'] }}</p>
                          {% endfor %}
                      </th>
                      <td>
                          {%- for td in tr -%}
                          <p>{{ tr[td]['value'] }}</p>
                          {% endfor %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div>
            {% endfor %}
	        <div class="tab-pane fade" id="graph">
                <div id="graphshow" class="container" style="height: 390px;width: 100%"></div>
            </div>
          </div>

        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

 <!-- jQuery -->
  <script src="/static/assets/lib/jquery/jquery-3.6.0.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/static/assets/lib/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- DataTables -->
  <script src="/static/assets/lib/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/assets/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/assets/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/assets/lib/datatables/pdfmake.js"></script>
  <script src="/static/assets/lib/datatables/vfs_fonts.js"></script>
  <script src="/static/assets/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- DataTables altEditor -->
  <script src="/static/assets/lib/datatables-select/js/dataTables.select.min.js"></script>
  <script src="/static/assets/lib/datatables-select/js/select.bootstrap4.min.js"></script>
  <script src="/static/assets/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/assets/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <!-- DataTables Editor-->
  <script src="/static/assets/lib/datatables-editor/js/dataTables.editor.js"></script>
  <script src="/static/assets/lib/datatables-editor/js/dataTables.dateTime.min.js"></script>
  <!-- JsonEditor-->
  <script src="/static/assets/lib/jsoneditor/jsoneditor.js"></script>
  <script src="/static/assets/lib/jsoneditor/purify.min.js"></script>
  <!--echarts Simple Graph -->
  <script src="/static/assets/lib/echarts/echarts.min.js"></script>
  <!-- page script -->
  <script>
var dom = document.getElementById('graphshow');
    var myChart = echarts.init(dom, null, {
      renderer: 'svg',
        width: 720,
        height: 390,
      useDirtyRect: false
    });
    var app = {};
    var option;
    option = {
      tooltip: {
      textStyle: {
        fontSize: '8',
      },
      trigger: 'item',
      formatter: function (param) {
        var str = '<p>信息 <p/><p>';
        var obj = param.data;
        for(var key in obj){
            if (key != 'name'){
                str += key+"："+obj[key]+ '<br/>';
            }
        }
        str += '</p>';
        return str;
      }
    },
  animationDurationUpdate: 1500,
  animationEasingUpdate: 'quinticInOut',
  series: [
    {
      type: 'graph',
      layout: 'force',
      force: {
        repulsion: 1000,
        edgeLength: 50,
        layoutAnimation: true,
      },
      symbolSize: 30,
      roam: true,
      draggable: true,
      focusNodeAdjacency: true,
      label: {
        show: true
      },
      edgeSymbol: ['circle', 'arrow'],
      edgeLabel: {
        fontSize: 20
      },
      data: {{ data['graph']['data']|safe }},
      links: {{ data['graph']['links']|safe }}
    }
  ]
};
    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }
    window.addEventListener('resize', myChart.resize);
  </script>
{% endblock javascripts %}