
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>能力维度</label>
            <nav class="nav flex-column">
              <a href="elem-buttons.html"  class="nav-link {% if 'elem-butt'  in segment %} active {% endif %}">组织机制</a>
              <a href="elem-dropdown.html" class="nav-link {% if 'elem-drop'  in segment %} active {% endif %}">管理制度</a>
              <a href="elem-icons.html"    class="nav-link {% if 'elem-icons' in segment %} active {% endif %}">风险管理</a>
            </nav>
            <label>过程维度</label>
            <nav class="nav flex-column">
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">软件引入</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">软件开发</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">运维管理</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">存量管理</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">软件供应</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">退出管理</a>
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">持续跟踪</a>
            </nav>
          </div><!-- component-item -->

        </div><!-- az-content-left -->
