
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>系统管理</label>
            <nav class="nav flex-column">
              <a href="sysadmin-users.html"  class="nav-link {% if 'sysadmin-user'  in segment %} active {% endif %}">用户管理</a>
              <a href="sysadmin-authority.html" class="nav-link {% if 'sysadmin-auth'  in segment %} active {% endif %}">权限设置</a>
              <a href="sysadmin-settings.html"    class="nav-link {% if 'sysadmin-set' in segment %} active {% endif %}">系统设置</a>
            </nav>
            <label>在线帮助</label>
            <nav class="nav flex-column">
              <a href="sysadmin-help-user.html"  class="nav-link {% if 'sysadmin-help-user'  in segment %} active {% endif %}">用户权限</a>
              <a href="sysadmin-help-settings.html" class="nav-link {% if 'sysadmin-help-set'  in segment %} active {% endif %}">配置参数</a>
            </nav>
          </div><!-- component-item -->

        </div><!-- az-content-left -->
