
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>模型定义</label>
            <nav class="nav flex-column">
              <a href="sysdev-sysdef.html"  class="nav-link {% if 'sysdev-sysdef'  in segment %} active {% endif %}">系统模型</a>
              <a href="sysdev-coldef.html"  class="nav-link {% if 'sysdev-coldef'  in segment %} active {% endif %}">业务模型</a>
              <a href="sysdev-relation.html" class="nav-link {% if 'sysdev-relation'  in segment %} active {% endif %}">模型关系</a>
              <a href="sysdev-view.html"    class="nav-link {% if 'sysdev-view' in segment %} active {% endif %}">模型视图</a>
            </nav>
            <label>业务过程</label>
            <nav class="nav flex-column">
              <a href="sysdev-adminnav.html" class="nav-link {% if 'sysdev-adminnav' in segment %} active {% endif %}">导航定义</a>
            </nav>
            <label>Charts</label>
            <nav class="nav flex-column">
              <a href="chart-chartjs.html" class="nav-link {% if 'chartjs' in segment %} active {% endif %}">ChartJS</a>
            </nav>

            <label>Tables</label>
            <nav class="nav flex-column">
              <a href="table-basic.html" class="nav-link {% if 'table-basic' in segment %} active {% endif %}">Basic Tables</a>
            </nav>
          </div><!-- component-item -->

        </div><!-- az-content-left -->
