{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="az-signup-wrapper">
      <div class="az-column-signup-left">
        <div>
          <i class="typcn typcn-chart-bar-outline"></i>
          <h1 class="az-logo"><a href="#" class="az-logo"><span></span> <h1>P</h1>ractition·er</a></h1>
          <h5>企业级开源软件治理管控平台</h5>
          <p>We are excited to launch our new company and product Practitioner. After being featured in too many magazines to mention and having created an online stir, we know that BootstrapDash is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p>
          <p>Browse our site and see for yourself why you need Practitioner.</p>
          <a href="index.html" class="btn btn-outline-indigo">了解更多</a>
        </div>
      </div><!-- az-column-signup-left -->
      <div class="az-column-signup">
        <h1 class="az-logo"><a href="#" class="az-logo"><span></span> <h1>P</h1>ractition·er</a></h1>
        <div class="az-signup-header">
          <h2>开始使用</h2>
          <h4>请输入系统账号和密码：</h4>
          <h4>
            {% if msg %}
                {{ msg | safe }}
            {% else %}
            {% endif %}
          </h4>
          <form role="form" method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label>用户名</label>
              {{ form.username(placeholder="用户名", class="form-control") }}
            </div><!-- form-group -->
            <div class="form-group">
              <label>密 码</label>
              {{ form.password(placeholder="密 码", class="form-control", type="password") }}
            </div><!-- form-group -->
            <button type="submit" name="login" class="btn btn-az-primary btn-block">登 录</button>
          </form>
        </div><!-- az-signup-header -->
        <div class="az-signup-footer">
          <p>没有账户? <a href="#">请联系管理员</a></p>
        </div><!-- az-signin-footer -->
      </div><!-- az-column-signup -->
    </div><!-- az-signup-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
