{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- vendor css -->
    <link href="/static/assets/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/assets/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="/static/assets/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/assets/css/azia.css">

    <div class="az-content az-content-dashboard">
      <div class="container">
        <div class="az-content-body">
          <div class="az-dashboard-one-title">
            <div>
              <h2 class="az-dashboard-title">{{ current_user.full_name }}, 欢迎回来!</h2>
              <p class="az-dashboard-text">企业开源软件治理情况导览.</p>
            </div>
            <div class="az-content-header-right">
              <div class="media">
                <div class="media-body">
                  <label>开始日期</label>
                  <h6>{{ startdate }}</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-body">
                  <label>当前日期</label>
                  <h6>{{ today }}</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-body">
                  <label>事件类别</label>
                  <h6>所有类别</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <a href="ossgov.html" class="btn btn-purple">转到工作台</a>
            </div>
          </div><!-- az-dashboard-one-title -->

          <div class="az-dashboard-nav"> 
            <nav class="nav">
              <a class="nav-link active" data-toggle="tab" href="#">概览</a>
              <a class="nav-link" data-toggle="tab" href="#">软件审计</a>
              <a class="nav-link" data-toggle="tab" href="#">制品使用</a>
              <a class="nav-link" data-toggle="tab" href="#">更多</a>
            </nav>

            <nav class="nav">
              <a class="nav-link" href="#"><i class="far fa-save"></i> 保存报表</a>
              <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> 导出到PDF</a>
              <a class="nav-link" href="#"><i class="far fa-envelope"></i> 发送Email</a>
              <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a>
            </nav>
          </div>
          <div>
          {% for navitem in nav %}
            <p>{{ navitem }} </p>
              {% if navitem['navclass']=='sub' %}
                  {% for nav2item in navitem['sub'] %}
                    <p>{{ nav2item }} </p>
                  {% endfor %}
              {% endif %}
          {% endfor %}
          </div>

          <div class="container">
<h3>A demo of Bootstrap Tabs</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li><a href="#hometab" role="tab" data-toggle="tab">Home</a></li>
  <li class="active"><a href="#javatab" role="tab" data-toggle="tab">Java</a></li>
  <li><a href="#csharptab" role="tab" data-toggle="tab">C#</a></li>
  <li><a href="#mysqltab" role="tab" data-toggle="tab">MySQL</a></li>
  <li><a href="#jquerytab" role="tab" data-toggle="tab">jQuery</a></li>

</ul>
</li>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="hometab">Write something for home tab</div>
  <div class="tab-pane active" id="javatab">The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.
  The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.<br /><br />
  The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.
  The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.<br /><br />
  <ul>
  <li>Chapter 1</li>
  <li>Chapter 2</li>
  <li>Chapter 3</li>
  <li>Chapter 4</li>
  </ul>
  </div>
  <div class="tab-pane" id="csharptab">C# is also a programming language</div>
  <div class="tab-pane" id="mysqltab">MySQL is a databased mostly used for web applications.</div>
  <div class="tab-pane" id="jquerytab">jQuery content here</div>

</div>


        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}

    <script src="/static/assets/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/static/assets/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/static/assets/lib/peity/jquery.peity.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
